In [9]:
bool( -2 ) # True
bool( None ) # False
bool( 0 ) # False
bool( 0.0 ) # False
bool( [] ) # 빈 리스트 # False
bool( set() ) # False
bool( dict() ) # False
bool( "" ) # 빈 문자열 # False
bool( " " ) # 공백 문자열 # False

False

In [14]:
s1 = """구름에 
달가듯이 
가는 
나그네"""
s1

'구름에 \n달가듯이 \n가는 \n나그네'

In [ ]:
'''인덱싱 : 1개 추출
슬라이싱 : 연속해서 여러개 추출
[시작이상:끝미만]
[:끝] -> 시작 생략시 0부터
[시작:] -> 끝 생략시 끝까지
[시작:끝:간격] 간격기본은 1
[::-1] 문자열을 역순으로 추출'''

In [15]:
"python"[1:4]

'yth'

In [16]:
'python'[:4]

'pyth'

In [17]:
'python'[1:]

'ython'

In [18]:
'python'[0:6:2]

'pto'

In [21]:
'python'[0::2]

'pto'

In [19]:
'python'[::-1]

'nohtyp'

In [20]:
'python'[::-2]

'nhy'

In [28]:
age = 30
# "홍길동의 나이는 " + age #TypeError: can only concatenate str (not "int") to str
print(f"홍길동의 나이는 {age}")

홍길동의 나이는 30

In [30]:
"홍길동의 나이는 " + str(age)

'홍길동의 나이는 30'

In [32]:
# 문자열 포맷팅 3가지(출력 형식 정하기)

# 1.   %
name = "홍길동"
"홍길동 나이는 %d" % (age)

'홍길동 나이는 30'

In [33]:
"%s 나이는 %d" % (name, age)

'홍길동 나이는 30'

In [35]:
# 2.    str.format
"{} 나이는 {}".format(name,age)
#'홍길동 나이는 30'

#palce holder = 치환대상 (place holder:{})

"{1} 나이는 {0}".format(name,age)
#''30 나이는 홍길동'

'30 나이는 홍길동'

In [39]:
#3.    f-string. 파이썬3.6이상에선ㄴㄴ 사용가능
f"{name} 나이는 {age}, 태어난 연도는 {2022 - age}년"
#함수호출에서 return값이 있는 함수는 호출 가능 (사칙연산을 하는 함수호출 가능)

'홍길동 나이는 30, 태어난 연도는 1992년'

In [41]:
# 문자열을 구분자 기준으로 분할, 리스트 반환

arr = 'A:B:C:D'.split(":")
arr

['A', 'B', 'C', 'D']

In [42]:
# 리스트를 구분자로 연결한 문자열로 생성
"--".join(arr)

'A--B--C--D'

In [43]:
#숫자가 들어있는 리스트를 조인하면 오류 발생
arr = [1,3,5]
"--".join(arr)
# TypeError: sequence item 0: expected str instance, int found
# sequence : 문자열과 리스트 (순번을 이용함)

TypeError: sequence item 0: expected str instance, int found

In [47]:
# input(prompt='문자열')
# 문자열로 인식. 숫자 넣어도 문자열로 인식

ans = input("나이를 입력하세요 ")

나이를 입력하세요 30

In [48]:
2022 - ans
# TypeError: unsupported operand type(s) for -: 'int' and 'str'

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [49]:
2022 - int(ans)

1992

In [50]:
f"나이가 {ans}이면 태어난 해는 {2022 - int(ans)}년 이네요"

'나이가 30이면 태어난 해는 1992년 이네요'

In [ ]:
'''HDD (SDD 아님) : seek time 60ms(60/1000초)
DRAM(메인메모리) seek time : 60ns(60/1e-9)
둘사이 차이가 100만배 남'''

In [52]:
mylist = [1,3,5,7]
len(mylist)

4

In [57]:
mylist = [1,3,5] # 1, 3, 5 -> item(항목)이라 부름 -> 저장된 값 임 -> 1차원
mylist = [ [1,2], [3,4], [5,6] ] # 2차원
# 행(row), 열(col)
mylist

[[1, 2], [3, 4], [5, 6]]

In [55]:
mylist[0] # 0god [1,2]

[1, 2]

In [58]:
for m in mylist:
    print(m)

[1, 2]
[3, 4]
[5, 6]

In [60]:
#슬라이싱으로 가르키면 슬라이싱된 부분에 수정된 값이 들어감
#item들이 하나하나 풀어져서 들어감

a = [1,2,3]
a[2] = 4
a[1:2] = ['c','d','e']
a

[1, 'c', 'd', 'e', 4]

In [61]:
#인덱싱으로 가르키면 리스트 자체가 들어감

a[1] = ['c','d','e']
a

[1, ['c', 'd', 'e'], 'd', 'e', 4]

In [ ]:
#sort() : 정렬 (내림차순)
#a.sort(reverse=True) (리스트 요소 반대 순서로 뒤집기)

In [62]:
arr

[1, 3, 5]

In [63]:
arr[::-1] #역순이된 리스트 생성, 반환. 원본수정 안함

[5, 3, 1]

In [64]:
arr

[1, 3, 5]

In [65]:
arr.reverse() #원본 리스트 역순
arr

[5, 3, 1]

In [69]:
names = ['홍', '김', '박', '이']
names.pop(1) #김 삭제
names

['홍', '박', '이']

In [66]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [70]:
[1,3,5] + [4,7,9] #두 리스트의 항목이 더해진 새로운 리스트 반환

[1, 3, 5, 4, 7, 9]

In [83]:
#로또 번호 생성, 저장
import random

lotto_list = []
lotto_set = set()

num = random.randint(1,45) # 1 이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1 이상 45이하
lotto_list.append(num)
lotto_set.add(num)

num = random.randint(1,45) # 1 이상 45이하
lotto_list.append(num)
lotto_set.add(num)

print(lotto_set, lotto_list)

{40, 44} [44, 40, 40]

In [84]:
# while문으로 2단 구구단 출력
dan = 2
n = 1
while (n < 10):
    print(f"{dan} X {n} = {dan*n}")
    n += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [1]:
# for문으로 2단 구구단 출력
dan = 2
for i in range(1,10):
    print(f"{dan} X {i} = {dan*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [2]:
list(range(1,3)) #list로 감싸면 실제 숫자로 바꿔줌

[1, 2]

In [3]:
arr3 = [[1,2,3], [4,5,6], [7,8,9,10]]
for a in arr3:
    print(a)
    for aa in a:
        print(aa)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9, 10]
7
8
9
10

In [7]:
scores = [ 
    ['홍',70],
    ['김',80],
    ['박',70]
        ]
tot = 0
#학생평균 계산
for sc in scores:
    tot += sc[1]
print("평균 =", tot/len(scores))

평균 = 73.33333333333333

In [8]:
arr4 = [1,2,1,1,2]
['짝' if i%2==0 else '홀' for i in arr4]

['홀', '짝', '홀', '홀', '짝']

In [15]:
def calc_many(choice, *args):
    if choice == "sum":
        return sum(args)
    elif choice == "mul":
        tot = 1
        for i in args:
            tot *= i
        return tot
    
print(calc_many("sum", 1,3,5))
print(calc_many("mul", 3,2,4))

9
24